<!DOCTYPE html>
<html>
  <head>
    <title>Bandit task</title>

    <!-- Load libraries -->
    <script src="../static/lib/jspsych-6.1.0/jspsych.js"></script>
    <script src="../static/lib/jquery-3.3.1/jquery.min.js"></script>

    <!-- Load NivTurk plug-ins -->
    <script src="../static/js/nivturk-plugins.js" type="text/javascript"></script>

    <!-- Load jsPsych plug-ins -->
    <script src="../static/lib/jspsych-6.1.0/plugins/jspsych-instructions.js"></script>
    <script src="../static/lib/jspsych-6.1.0/plugins/jspsych-html-keyboard-response.js"></script>
    <script src="../static/lib/jspsych-6.1.0/plugins/jspsych-image-keyboard-response.js"></script>
    <script src="../static/lib/jspsych-6.1.0/plugins/jspsych-audio-keyboard-response.js"></script>
    <script src="../static/lib/jspsych-6.1.0/plugins/jspsych-survey-likert.js"></script>
    <script src="../static/lib/jspsych-6.1.0/plugins/jspsych-survey-multi-choice.js"></script>
    <script src="../static/lib/jspsych-6.1.0/plugins/jspsych-survey-text.js"></script>
    <script src="../static/lib/jspsych-6.1.0/plugins/jspsych-call-function.js"></script>
    <script src="../static/js/jspsych-survey-demo.js"></script>

    <!-- Load CSS styles -->
    <link href="../static/lib/jspsych-6.1.0/css/jspsych.css" rel="stylesheet" type="text/css"></link>

    <style>
        html, body { width: 100%; height: 100%; margin: 0; padding: 0; }
        #jspsych-target { width: 100%; height: 100%;}
        #bandit-score { position: absolute; width: 100%; border-bottom: 1px solid #ddd; background-color: #fafafa; margin:0; text-align: center; display: none;}
        #bandit-score progress { width: 500px; }
        #bandit-score .bandit-top { padding: 10px 75px; display: inline-block; font-family: 'Open Sans', 'Arial'; font-size: 16px; color: #333;}
    </style>
  </head>
  <body>
    <div id="bandit-score">
      <span class="bandit-top">Progress: <progress max="100" value="0" id="bandit-timer"></progress></span>
    </div>
    <div id="jspsych-target"></div>
  </body>
  <script>

    // Display alert message on back/refresh.
    // https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onbeforeunload
    function verify_unload(e){
      e.preventDefault();
      (e || window.event).returnValue = null;
      return null;
    };
    window.addEventListener("beforeunload", verify_unload);

    // Audio that needs to be preloaded
    var audio = [
      '../static/sound/incorrect_sound_2.mp3',
      '../static/sound/correct_sound_3.wav',
      '../static/sound/silence.mp3'
    ];

    // Initialize key presses
    var key_left = 65;  // Left circle = 'A'
    var key_right = 76; // Right circle = 'L'

    // Initialize reward probabilities such that left option is correct
    var prob_L = 0.6;        // Reward probability (left)
    var prob_R = 0.1;        // Reward probability (right)

    // Correct choice randomization
    var correct = jsPsych.randomization.sampleWithoutReplacement([key_left, key_right], 1)[0];

    if (correct == key_right) { // If right option is first high-probabiility option

        // Switch probabilities
        var intermediate = prob_L;
        prob_L = prob_R;
        prob_R = intermediate;

    }

    // Initialize accuracy counter
    var counter = 0;

    // Initialize timeline
    var timeline = [];

    // Initialize other parameters
    var expt_length = 1200000; // milliseconds
    var num_practice_trials = 4;
    var iti = 500; // milliseconds
    var init_alloted_time = 10000 // milliseconds
    var choice_alloted_time = 15000 // milliseconds
    var skipped = 0;
    var points = 0;
    var block = 0;    // starting block of practice trials
    var trial = 1001; // starting trial of practice trials
    var random_jitter;

    // Initialize reward prompts (color-based)
    var reward_L = "<span style='color: #0000ff; font-size:45px;'>+10</span>";
    var no_reward_L = "<span style='color: #0000ff; font-size:45px;'>+0</span>";
    var reward_R = "<span style='color: #ff8c00; font-size:45px;'>+10</span>";
    var no_reward_R = "<span style='color: #ff8c00; font-size:45px;'>+0</span>";

    var reward = "<span style='font-size:45px;'>+10</span>";
    var no_reward = "<span style='font-size:45px;'>+0</span>";

    var no_reward_timeout = "";

    /* define instructions trial */
    var instructions = {
        type: "instructions",
        pages: [
            "<p>Welcome to the experiment.</p><br><p>Click 'Next' to begin the tutorial.</p>",

            "This experiment uses audio cues, so please take a moment to adjust your volume if needed.",

            "<p>In this experiment, you will earn points by " +
            "repeatedly choosing between two options.</p>" +
            "<p>A cross (+) in the center of the screen will signal " +
            "you to begin the trial.</p>" +
            "<p>After the cross appears, press the <strong>space bar</strong> " +
            "to start the trial.</p>",

            "<p>After beginning the trial, two circles will appear on the screen." +
            "<p>Use the 'A' or 'L' key to select a circle.</p>" +
            "<p>You will receive either <strong>10 points</strong> or " +
            "<strong>0 points</strong> for your choice.</p>" +
            "<p>Your goal is to maximize the number of points you receive.</p>" +
            "<div style='width: 700px;'>" +
            "<div style='float: left;'><img src='../static/img/newblue.png'></img>" +
            "<p class='small'><strong>Press 'A' to select</strong></p></div>" +
            "<div style='float: right;'><img src='../static/img/neworange.png'></img>" +
            "<p class='small'><strong>Press 'L' to select</strong></p></div><p></p>",

            "<p>Now, you'll play through a few practice trials to familiarize yourself with the task.</p>" +
            "<br><p>Click 'Next' to begin the practice trials.</p>",
            ],
        show_clickable_nav: true,
        post_trial_gap: 1000
    }
    timeline.push(instructions);

    // function to end trial when it is time
    var end_trial = function(trial) {

      // Kill all setTimeout handlers.
      jsPsych.pluginAPI.clearAllTimeouts();
      jsPsych.pluginAPI.cancelAllKeyboardResponses();

      // clear the display
      jsPsych.getDisplayElement().innerHTML = '';

      trial.data.skipped_trial = true;

      // move on to the next trial
      jsPsych.finishTrial();
    };

    // function to handle missed responses
    var missed_response = function(trial) {

      // Kill all setTimeout handlers.
      jsPsych.pluginAPI.clearAllTimeouts();
      jsPsych.pluginAPI.cancelAllKeyboardResponses();

      // Display warning message.
      const msg = '<p style="font-size: 20px; line-height: 1.5em">You did not respond within the allotted time. Please pay more attention on the next trial.<br><br><b>Warning:</b> If you miss too many trials, we may end the experiment early and reject your work.';

      jsPsych.getDisplayElement().innerHTML = msg;
      skipped = 1;

      jsPsych.pluginAPI.setTimeout(function() {
        end_trial(trial);
      }, 5000);

    }

    // Define initiation phase
    var initiation = {
        on_start: function(trial) {
            // End trial if no response.
            if (init_alloted_time !== null) {
                trial.data.skipped_trial = false;
                jsPsych.pluginAPI.setTimeout(function() {
                    missed_response(trial);
                }, init_alloted_time);
            }
        },
        type: 'html-keyboard-response',
        stimulus: "<div style='font-size:60px;'>+</div>",
        data: {test_phase: 'initiation'},
        post_trial_gap: function(data){
            random_jitter = jsPsych.randomization.sampleWithoutReplacement([50, 100, 150, 200, 250,
                300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000], 1)[0];
            return random_jitter;
        },
        choices: [32],        // allow space bar

        on_finish: function(data) {
            data.block_num = block;
            data.trial_num = trial;
            data.post_jitter = random_jitter;
        }

    }

    // Define choice phase
    var choice = {
        on_start: function(trial) {
            if (skipped == 1) {
                jsPsych.getDisplayElement().innerHTML = '';
                end_trial(trial);
            } else {
                trial.data.skipped_trial = false;
            }
        },
        type: 'html-keyboard-response',
        stimulus: "<div style='width: 700px;'>" +
                "<div style='float: left;'><img src='../static/img/newblue.png'></img></div>" +
                "<div style='float: right;'><img src='../static/img/neworange.png'></img></div>",
        data: {test_phase: 'choice'},
        trial_duration: choice_alloted_time,
        post_trial_gap: function(data){
            random_jitter = jsPsych.randomization.sampleWithoutReplacement([50, 100, 150, 200, 250,
                300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000], 1)[0];
            return random_jitter;
        },
        choices: [key_left, key_right],              // left/right arrow keys

        on_finish: function(data) {

            data.block_num = block;
            data.trial_num = trial;
            data.post_jitter = random_jitter;

            if (correct == key_left) {
                data.correct_choice = 'left';
            } else {
                data.correct_choice = 'right';
            }

            if (data.key_press == correct) {
                data.accurate = true;
                counter++;
            } else {
                data.accurate = false
            }

            data.rewarded = false;

        }

    }

    // Define outcome phase
    var outcome = {
        type: 'audio-keyboard-response',
        stimulus: '../static/sound/silence.mp3',
        data: {test_phase: 'outcome'},
        choices: jsPsych.NO_KEYS,       // no response allowed
        response_ends_trial: false,
        trial_duration: 500,            // 1-second feedback time
        post_trial_gap: iti,

        // On-start function to generate rewards
        on_start: function(trial) {

            if (skipped == 1) {
                trial.data.skipped_trial = true;
                //end_trial(trial);
            } else {
                trial.data.skipped_trial = false;
            }
            
            // Get key press from last trial
            last_key_press = jsPsych.data.get().last().select('key_press').values[0];

            // If left key press
            if (last_key_press == key_left) {
                trial.prompt = jsPsych.randomization.sampleWithReplacement([reward,no_reward], 1, [prob_L, 1-prob_L])
            } else if (last_key_press == key_right) {
                trial.prompt = jsPsych.randomization.sampleWithReplacement([reward,no_reward], 1, [prob_R, 1-prob_R])
            } else {
                trial.prompt = no_reward_timeout;
            }

            if (trial.prompt == reward) {
                trial.stimulus = '../static/sound/correct_sound_3.wav'
                jsPsych.data.getLastTrialData().values()[0].rewarded = true;
                points += 10;
                // document.querySelector('#bandit-correct-count').innerHTML = points;
            } else if (trial.prompt == no_reward) {
                trial.stimulus = '../static/sound/incorrect_sound_2.mp3';
            }

        },

        // On-finish function to update reward probabilities
        on_finish: function(data) {

            data.block_num = block;
            data.trial_num = trial;

            if (counter > 10 && Math.random() < 0.4) {

                if (correct == key_left) {

                    // Switch probabilities
                    var intermediate = prob_L;
                    prob_L = prob_R;
                    prob_R = intermediate;

                    // Make right option high-probability
                    correct = key_right;

                } else {

                    // Switch probabilities
                    var intermediate = prob_L;
                    prob_L = prob_R;
                    prob_R = intermediate;

                    // Make left option high-probability
                    correct = key_left;

                }

            // Reset counter
            counter = 0;
            block++;

            }

            skipped = 0;
            trial++;

        }

    }

    var i = 1;

    var practice_trials = {
        timeline: [initiation, choice, outcome],
        loop_function: function(){
            if (i < num_practice_trials){
                i++;
                return true;
            } else {
                return false;
            }
        }
    }
    timeline.push(practice_trials)

    var instructions2 = {
        type: "instructions",
        pages: [
            "<p>The duration of this experiment is <strong>" +
                expt_length/1000/60 + " minutes</strong>.</p><br><p>Click 'Start' to begin the experiment.</p>",
            ],
        show_clickable_nav: true,
        allow_backward: false,
        button_label_next: "Start",
        post_trial_gap: 1000
    }
    timeline.push(instructions2);

    var reset_vars = {
        type: 'call-function',
        func: function(){

            // Initialize reward probabilities such that left option is correct
            prob_L = 0.6;        // Reward probability (left)
            prob_R = 0.1;        // Reward probability (right)

            // Correct choice randomization
            correct = jsPsych.randomization.sampleWithoutReplacement([key_left, key_right], 1)[0];

            if (correct == key_right) { // If right option is first high-probabiility option

                // Switch probabilities
                var intermediate = prob_L;
                prob_L = prob_R;
                prob_R = intermediate;

            }

            block = 1;
            trial = 1;
            counter = 0;
        }
    }
    timeline.push(reset_vars);

    var show_timer = {
        type: 'call-function',
        func: function(){
        document.querySelector('#bandit-score').style.display = 'block';
        }
    }
    timeline.push(show_timer);

    var block_start_time;
    var timer_ticks;

    var timer_start = {
      type: 'call-function',
      func: function(){
        points = 0;
        // document.querySelector('#bandit-correct-count').innerHTML = points
        block_start_time = Date.now();
        timer_ticks = setInterval(function(){
          var proportion_time_elapsed = Math.floor((Date.now() - block_start_time) / expt_length * 100);
          document.querySelector('#bandit-timer').value = proportion_time_elapsed;
        }, 100)
      }
    }
    timeline.push(timer_start);

    var test_procedure = {
        timeline: [initiation, choice, outcome],
        loop_function: function(){
            if(Date.now() - block_start_time < expt_length){
                return true;
            } else {
                return false;
            }
        }
    }

    var scale_1 = [
        "1",
        "2",
        "3",
        "4",
        "5"
    ];

    /* define debrief trials */
    var debrief_1 = {
        type: "survey-likert",
        preamble: "placeholder",
        questions: [
            {prompt: "How difficult was the task?", labels: scale_1, required: true},
            {prompt: "How fun was the task?", labels: scale_1, required: true},
            {prompt: "How clear were the instructions?", labels: scale_1, required: true},
        ],
        on_start: function(trial) {
            trial.preamble = "<p>Great job! You earned <strong>" + points +
                " points</strong> during the experiment.</p>" + "<p>Please answer a few final questions. <font color='#c87606'>Your answers will not affect your payment or bonus.</font></p>"
        }
    }

    var debrief_2 = {
        type: "survey-multi-choice",
        questions: [
            {prompt: "Did you complete the task on your own, without assistance from others? <font color='#c87606'>Your answer will not affect your payment or bonus.</font>",
                options: ["Yes", "No"], required: true},
        ]
    }

    var debrief_3 = {
        type: "survey-text",
        questions: [
            {prompt: "Did you use any strategies during the task (e.g. write things down)? <font color='#c87606'>Your answer will not affect your payment or bonus.</font>",
                rows: 3, columns: 100, required: true}
        ],
        button_label: "Submit",
        on_finish: function(data) {
            data.point_count = points;
        }
    }

    /* define conclusion trial
    var conclusion = {
        type: "html-keyboard-response",
        stimulus: "<p>Thank you for participating. The experiment has now concluded.</p>" +
            "<p>The next screen will show all of the collected data.</p><br><p>Press 'n' to " +
            "complete the experiment.</p>",
        choices: [78],
        on_finish: function(data) {
            data.point_count = points;
        }
    } */

    timeline.push(test_procedure, debrief_1, debrief_2, debrief_3);

    // Add demographics form
    var demo = {
      type: 'survey-demo',
      data: {survey: 'demographics'},
    }
    timeline.push(demo);

    /* start the experiment */
    jsPsych.init({
        display_element: 'jspsych-target',
        timeline: timeline,
        use_webaudio: false,
        preload_audio: audio,
        show_preload_progress_bar: false,
        on_finish: function() {

          // Remove requirement to verify redirect
          window.removeEventListener("beforeunload", verify_unload);

          // Display jsPsych data in viewport.
          // jsPsych.data.displayData();

          // Save complete dataset to disk.
          redirect_success("{{workerId}}", "{{assignmentId}}", "{{hitId}}",  "{{a}}", "{{tp_a}}", "{{b}}", "{{tp_b}}", "{{c}}", "{{tp_c}}");

          // Save rejected dataset to disk.
          // reject_data('1011')

        }
    })

  </script>
</html>
